<div class="chart-canvas-container" data-test-chart-title={{@label}}>
    <canvas data-test-chart-canvas id="canvas-{{@id}}" class="chart-canvas" aria-label={{@label}} role="img" {{did-insert this.onRender}} {{did-update this.onUpdate @data @period}}></canvas>
</div>