<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-2">
    <TrendCard @title={{@data.firstObject.nuovi_positivi}} @label="Nuovi positivi" @trend={{@data.firstObject.trend_nuovi_positivi}} @greater={{false}} />
  </div>
  <div class="col-sm-12 col-md-4 col-lg-2">
    <TrendCard @title={{@data.firstObject.incremento_tamponi}} @label="Tamponi" @trend={{@data.firstObject.trend_tamponi}} @greater={{true}} />
  </div>
  <div class="col-sm-12 col-md-4 col-lg-2">
    <TrendCard @title={{concat @data.firstObject.tasso_positivi '%'}} @label="Tasso positivi" @trend={{@data.firstObject.trend_tasso_positivi}} @greater={{false}} />
  </div>
  <div class="col-sm-12 col-md-4 col-lg-2">
    <TrendCard @title={{@data.firstObject.incremento_deceduti}} @label="Deceduti" @trend={{@data.firstObject.trend_deceduti}} @greater={{false}} />
  </div>
  <div class="col-sm-12 col-md-8 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Terapie intensive</h5>
        <div class="card-text">
          <div class="row">
            <div class="col-6">
              <label class="fw-bold">Variazione:</label>
              <span class={{if (gte @data.firstObject.variazione_terapia_intensiva 0) 'text-danger' 'text-success'}}>{{@data.firstObject.variazione_terapia_intensiva}}</span>
            </div>
            <div class="col-6">
              <label class="fw-bold">Ingressi:</label>
              {{@data.firstObject.ingressi_terapia_intensiva}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-12 col-md-6">
    <Chart @id="nuovi-positivi" @type="line" @data={{@data}} @dataKey="nuovi_positivi" @label="Nuovi positivi" @color="#F66384"></Chart>
  </div>
  <div class="col-sm-12 col-md-6">
    <Chart @id="nuovi-positivi" @type="line" @data={{@data}} @dataKey="tasso_positivi" @label="Tasso positivi" @color="#36A2EB"></Chart>
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-12 col-md-6">
    <Chart @id="nuovi-positivi" @type="line" @data={{@data}} @dataKey="terapia_intensiva"
      @label="Terapie intensive" @color="#4BC0C0"></Chart>
  </div>
  <div class="col-sm-12 col-md-6">
    <Chart @id="nuovi-positivi" @type="line" @data={{@data}} @dataKey="incremento_deceduti"
      @label="Incremento deceduti" @color="#333538"></Chart>
  </div>
</div>