<div class="card">
  <div class="card-body">
    <h5 class="card-title" data-test-title>{{@title}}</h5>
    <div class="row card-text">
      <div class="col-10">
        <h6 class="card-subtitle text-muted mt-1" data-test-label>{{@label}}</h6>
      </div>
      <div class="col-2">
        {{#if (gt @trend 0)}}
          <FaIcon @icon="arrow-up" @class={{if @greater "text-success" "text-danger"}} data-test-trend-greater />
        {{else}}
          {{#if (lt @trend 0)}}
            <FaIcon @icon="arrow-down" @class={{if @greater "text-danger" "text-success"}} data-test-trend-lower />
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>