<div class="p-2">
  <div class="max-w-sm rounded overflow-hidden shadow-lg text-white p-4 {{trend-card-color @trend isGreater=@greater}}" data-test-trend-card>
    <div class="grid grid-cols-4 gap-1">
      <div class="col-span-3">
        <h5 class="text-2xl font-bold" data-test-title={{@title}}>{{@title}}</h5>
      </div>
      <div class="text-right text-xl">
        {{#if (gt @trend 0)}}
          <FaIcon @icon="arrow-up" data-test-trend-greater />
        {{else}}
          {{#if (lt @trend 0)}}
            <FaIcon @icon="arrow-down" data-test-trend-lower />
          {{/if}}
        {{/if}}
      </div>
    </div>
    <h6 class="text-gray-100 mt-2" data-test-label={{@label}}>{{@label}}</h6>
  </div>
</div>