<div class="p-10">
  <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white p-4">
    <h5 class="text-2xl" data-test-title={{@title}}>{{@title}}</h5>
    <div class="row card-text">
      <div class="col-10">
        <h6 class="card-subtitle text-muted mt-1" data-test-label={{@label}}>{{@label}}</h6>
      </div>
      <div class="col-2">
        {{#if (gt @trend 0)}}
          <FaIcon @icon="arrow-up" @class={{if @greater "text-success" "text-danger"}} data-test-trend-greater />
        {{else}}
          {{#if (lt @trend 0)}}
            <FaIcon @icon="arrow-down" @class={{if @greater "text-danger" "text-success"}} data-test-trend-lower />
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>