{{page-title "Riepilogo"}}
<h3 class="text-center">Andamento nazionale</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nuovi positivi</h5>
                    <div class="row card-text">
                        <div class="col-10">
                            {{this.model.firstObject.nuovi_positivi}}
                        </div>
                        <div class="col-2">
                            {{#if (gt this.model.firstObject.trend_nuovi_positivi 0)}}
                                <FaIcon @icon="arrow-up" @class="text-danger" />
                            {{else}}
                                {{#if (lt this.model.firstObject.trend_nuovi_positivi 0)}}
                                    <FaIcon @icon="arrow-down" @class="text-success" />
                                {{/if}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tamponi</h5>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-10">
                                {{this.model.firstObject.incremento_tamponi}}
                            </div>
                            <div class="col-2">
                                {{#if (gt this.model.firstObject.trend_tamponi 0)}}
                                    <FaIcon @icon="arrow-up" @class="text-success" />
                                {{else}}
                                {{#if (lt this.model.firstObject.trend_tamponi 0)}}
                                    <FaIcon @icon="arrow-down" @class="text-danger" />
                                {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tasso positivi</h5>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-10">
                                {{this.model.firstObject.tasso_positivi}}%
                            </div>
                            <div class="col-2">
                                {{#if (gt this.model.firstObject.trend_tasso_positivi 0)}}
                                    <FaIcon @icon="arrow-up" @class="text-danger" />
                                {{else}}
                                {{#if (lt this.model.firstObject.trend_tasso_positivi 0)}}
                                    <FaIcon @icon="arrow-down" @class="text-success" />
                                {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Deceduti</h5>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-10">
                                {{this.model.firstObject.incremento_deceduti}}
                            </div>
                            <div class="col-2">
                                {{#if (gt this.model.firstObject.trend_deceduti 0)}}
                                <FaIcon @icon="arrow-up" @class="text-danger" />
                                {{else}}
                                {{#if (lt this.model.firstObject.trend_deceduti 0)}}
                                <FaIcon @icon="arrow-down" @class="text-success" />
                                {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Terapie intensive</h5>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-6">
                                <label class="fw-bold">Variazione:</label>
                                {{this.model.firstObject.variazione_terapia_intensiva}}
                            </div>
                            <div class="col-6">
                                <label class="fw-bold">Ingressi:</label>
                                {{this.model.firstObject.ingressi_terapia_intensiva}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>