{{page-title "Regions"}}
<header>
  <h1 class="text-3xl text-center font-sans mt-2">
    Andamento regione <span class="font-semibold">{{this.model.firstObject.denominazione_regione}}</span> - {{date-format this.model.firstObject.time}}
  </h1>
</header>
<nav class="w-full mx-auto flex items-stretch mt-4">
  <div class="w-auto mx-auto">
    <RegionSelector @region={{this.model.firstObject.codice_regione}} class="w-full rounded border-gray-300 text-sm md:text-base" />
  </div>
  <div class="w-1/2 text-center inline-block align-baseline">
    <LinkTo @route="index" role="button" class="inline-block text-sm md:text-base py-2 px-5 bg-blue-700 hover:bg-blue-600 text-white rounded focus:border-4 border-blue-300 no-underline">
      Dati nazionali
      <FaIcon @icon="file-medical-alt" />
    </LinkTo>
  </div>
</nav>
<main>
  <Dashboard @data={{this.model}} @route="regions" @period={{this.period}} />
</main>