{{page-title "Dati di storico nazionali"}}
<h3 class="text-3xl text-center font-sans mt-2">
  Dati di storico nazionali
</h3>
<div class="text-center mt-4">
  <LinkTo @route="index" class="inline-block py-2 px-5 bg-blue-500 hover:bg-blue-600 text-gray-50 rounded focus:border-4 border-blue-300">
    Home
    <FaIcon @icon="home" />
  </LinkTo>
</div>
<section class="container mx-auto p-6 font-mono">
  <div class="w-full mb-8 overflow-hidden rounded shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
            <th class="px-4 py-3 text-center">Data</th>
            <th class="px-4 py-3 text-center">Nuovi positivi</th>
            <th class="px-4 py-3 text-center">Variazione totale positivi</th>
            <th class="px-4 py-3 text-center">Terapia intensiva</th>
            <th class="px-4 py-3 text-center">Ingressi terapia intensiva</th>
            <th class="px-4 py-3 text-center">Incremento tamponi</th>
            <th class="px-4 py-3 text-center">Tasso positività</th>
            <th class="px-4 py-3 text-center">Incremento decessi</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          {{#each this.model as |day|}}
          <tr class="text-gray-700">
            <td class="px-4 py-3 border text-center">{{date-format day.time}}</td>
            <td class="px-4 py-3 border text-center">{{day.nuovi_positivi}}</td>
            <td
              class="px-4 py-3 border text-center">
              <span class="px-2 py-1 leading-tight rounded{{if (lt day.variazione_totale_positivi 0) ' text-green-700 bg-green-100' (if (gt day.variazione_totale_positivi 0) ' text-red-700 bg-red-100' '')}}">{{day.variazione_totale_positivi}}</span>
            </td>
            <td
              class="px-4 py-3 border text-center">
              {{day.terapia_intensiva}}
              <span class="px-2 py-1 leading-tight rounded{{if (lt day.variazione_terapia_intensiva 0) ' text-green-700 bg-green-100' (if (gt day.variazione_terapia_intensiva 0) ' text-red-700 bg-red-100' '')}}">({{day.variazione_terapia_intensiva}})</span>
            </td>
            <td class="px-4 py-3 border text-center">{{day.ingressi_terapia_intensiva}}</td>
            <td
              class="px-4 py-3 border text-center">
              <span class="px-2 py-1 leading-tight rounded{{if (eq day.trend_tamponi '+') ' text-green-700 bg-green-100' (if (eq day.trend_tamponi '-') ' text-red-700 bg-red-100' '')}} rounded-sm">{{day.incremento_tamponi}}</span>
            </td>
            <td class="px-4 py-3 border text-center">{{day.tasso_positivi}}%</td>
            <td class="px-4 py-3 border text-center">{{day.incremento_deceduti}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      </div>
      </div>
</section>